@font-face {
    font-family: 'Macabre';
    src: url('../../assets/fonts/The\ Macabre.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100vh;
    color: white;
    background-color: black;
    padding: 2rem;
    font-family: 'Macabre', sans-serif;
    font-size: 4rem;
    letter-spacing: .2rem;
    padding-left: 5rem;
  }

.description-win {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Macabre', sans-serif;
    font-size: 4rem;
    letter-spacing: .2rem;
    padding-left: 5rem;
}

.container-win {
    display: flex;
    justify-content: space-between;
}

.door {
    height: 700px;
    width: 700px;
}

.zodiaque {
    height: 50%;
    border-radius: 2rem;
}

.loose {
    font-size: 4rem;
}