@font-face {
  font-family: 'HorrorPolice';
  src: url('../src/assets/fonts/Another\ Danger\ -\ Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100vh;
  color: white;
  background-color: black;
  gap: 4rem;
}

p {
  font-family: 'HorrorPolice', sans-serif;
  letter-spacing: .4rem;
  font-size: 5rem;
}

.button {
  padding: 2rem;
  background-color: white;
  color: black;
  padding-left: 4rem;
  padding-right: 4rem;
  border-radius: 1rem;
  border: 0;
  font-size: medium;
  font-family: 'HorrorPolice', sans-serif;
  letter-spacing: .1rem;
}

.button:focus {
  transform: scale(0.9);
}
