@font-face {
    font-family: 'Macabre';
    src: url('../../assets/fonts/The\ Macabre.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    height: 100vh;
    color: white;
    background-color: black;
    padding: 2rem;
  }

.description {
    font-family: 'Macabre', sans-serif;
    width: 50vw;
    font-size: 2rem;
    letter-spacing: .2rem;
}

.amelie {
    height: 400px;
    width: 300px;
    transform: rotate(-25deg);
}

.couteau {
    height: 400px;
    width: 300px;
    transform: rotate(25deg);
}

.buttonStart {
    background-color: white;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: 50vh;
    right: 2rem;
}

.buttonStart:focus {
    transform: scale(0.9);
}